.shape {
    &>svg {
        circle, ellipse, rect, polygon {
            stroke: #fff;
            stroke-width: 1px;
        }
    }

    animation-duration: 1s;
    animation-name: shapeTransition;
    transform-origin: center center;
}

@keyframes shapeTransition {
    from {
        transform: scale(0.2);
    }
    to {
        transform: scale(1);
    }
}