/******************************************************************************
* XL devices
*****************************************************************************/
@media (min-width: 1200px){
    h1 {
		font-size: 4.96rem;
	}
	
	h2 {
		font-size: 3.5rem;
	}
	
	h3 {
		font-size: 2.63rem;
	}
	
	h4 {
		font-size: 1.75rem;
	}
	
	h5 {
		font-size: 1.6rem;
	}
	
	h6 {
		font-size: 1rem;
	}
}

/******************************************************************************
* LG devices
*****************************************************************************/
@media (max-width: 1199px){
    h1 {
		font-size: 4.96rem;
	}
	
	h2 {
		font-size: 3.5rem;
	}
	
	h3 {
		font-size: 2.63rem;
	}
	
	h4 {
		font-size: 1.75rem;
	}
	
	h5 {
		font-size: 1.6rem;
	}
	
	h6 {
		font-size: 1.31rem;
	}
}

/******************************************************************************
* MD devices
*****************************************************************************/
@media (max-width: 991px){
    h1 {
		font-size: 4rem;
	}
	
	h2 {
		font-size: 2.82rem;
	}
	
	h3 {
		font-size: 2.12rem;
	}
	
	h4 {
		font-size: 1.41rem;
	}
	
	h5 {
		font-size: 1.29rem;
	}
	
	h6 {
		font-size: 1.1rem;
	}
}

/******************************************************************************
* SM devices
*****************************************************************************/
@media (max-width: 767px){
}

/******************************************************************************
* XS devices
*****************************************************************************/
@media (max-width: 576px){
    h1 {
		font-size: 3.6rem;
	}
	
	h2 {
		font-size: 2.54rem;
	}
	
	h3 {
		font-size: 1.91rem;
	}
	
	h4 {
		font-size: 1.27rem;
	}
	
	h5 {
		font-size: 1.16rem;
	}
	
	h6 {
		font-size: 0.95rem;
	}
}
