$app-name: fec;
$theme-font: 'Titillium Web', sans-serif;

$theme-color: #276db8;
$theme-color-alt: #007bff;
$theme-color-black: #000;
$theme-color-white: #fff;
$theme-color-disabed: #C4C4C4;

$body-font-size: 14px;
